@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url(../fontawesome-free-6.0.0-web/css/all.css);

body {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
}
// Header
header {
    display: flex;
    width: 100vw;
    height: 22vh;
    font-weight: 700;
    font-size: 28px;

        #macbook {
            display: flex;
            justify-content: flex-start;
    }
        #cities {
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 100%
    }
}
// Main
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8vh;
    padding-left: 32vw;
        a {
            color: white;
        }
}
// Contact links
ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    background-color: red;
    font-weight: 900;
    text-decoration: none;
    width: 5rem;
}


#dci {
    transform: rotate(-7deg);
    position: absolute;
    left: 49vw;
    bottom: 43vh;
    &:hover {
        transform: scale(2) rotate(-7deg);
    }
}

#website {
    transform: rotate(10deg);
    &:hover {
        transform: scale(2) rotate(10deg);
    }
}

#email {
    transform: rotate(-7deg);
    &:hover {
        transform: scale(2) rotate(-7deg);
    }
}

#github {
    transform: rotate(7deg);
    &:hover {
        transform: scale(2) rotate(7deg);
    }
}

#linkedin {
    transform: rotate(-10deg);
    &:hover {
        transform: scale(2) rotate(-10deg);
    }
}

// #website {
//     background-color: red;
//     font-weight: 900;
// }

// #email {
//     background-color: red;
//     font-weight: 900;
// }

// #github {
//     background-color: red;
//     font-weight: 900;
// }

// #linkedin {
//     background-color: red;
//     font-weight: 900;
// }


// #website:before {
//     font-family: "FontAwesome";
//     content: "\f0ac";
//     margin-right: 7px;
// }
// #email:before {
//     font-family: "FontAwesome";
//     content: "\f0e0";
//     margin-right: 7px;
// }
// #github:before {
//     font-family: "FontAwesome";
//     content: "\f09b";
//     margin-right: 7px;
// }
// #linkedin:before {
//     font-family: "FontAwesome";
//     content: "\f09c";
//     margin-right: 7px;
// }
// Pictures
#camera {
    width: 15%;
    position: absolute;
    bottom: 30vh;
    left: 10vw;
}
#turntable {
    width: 25%;
    position: absolute;
    bottom: 4vh;
    left: 66vw;
}
// Media query
@media only screen and (max-width: 600px) {
    // Header
    #cities {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5vw;
    }
    // Main
    main {
        padding-left: 0;
    }
    // Pictures
    #camera, #turntable {
        display: none;
    }
}