@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url(../fontawesome-free-6.0.0-web/css/all.css);

body {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
}
// Header
header {
    display: flex;
    width: 100vw;
    height: 22vh;
    font-weight: 700;
    font-size: 28px;

        #macbook {
            display: flex;
            justify-content: flex-start;
    }
        #cities {
            display: flex;
            justify-content: space-evenly;
            align-self: center;
            width: 100%
    }
}
// Main
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32vw;
    border: red dotted 2px;
}

main section:first-child {
    border: white solid 1px;
}

main section:nth-child(2) {
    border: pink solid 1px;
}

main section:nth-child(3) {
    border: orange solid 1px;
}
// Contact links
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li a{
    color: white;
}
#website:before {
    font-family: "FontAwesome";
    content: "\f0ac";
    margin-right: 7px;
}
#email:before {
    font-family: "FontAwesome";
    content: "\f0e0";
    margin-right: 7px;
}
#github:before {
    font-family: "FontAwesome";
    content: "\f09b";
    margin-right: 7px;
}
#linkedin:before {
    font-family: "FontAwesome";
    content: "\f09c";
    margin-right: 7px;
}